@use '../mixins/responsive.scss' as *;

.title {
  font-weight: 700;
  font-size: 20px;

  @include responsive(laptop) {
    font-size: 1.5rem;
  }

  &--green {
    color: #2ab3b1;
  }

  &--white {
    color: white;
  }
}
